.float {
    position: fixed;
    top: 50%;
    right: 1em;
    background-color: #ECF0F1;
    color: #3498DB;
    padding: 10px;
    font-family: sans-serif;
  }

.time-to-read {
  right: 0;
  padding: 1%;
  font-size: 1.2rem;
  background-color: rgba(255,255,255, .8);
}
